@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0 auto;
  background-color: green;
  text-align: center;
}

.card {
  position: relative;
  height: 350px;
  width: 250px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 8%;
  -moz-border-radius: 8%;
}

.nipe {
  position: relative;
  top: 135px;
  left: -15px;
  font-size: 60px;
  margin: auto;
}

#left,
#right {
  position: absolute;
  font-size: 22px;
}

#left {
  left: 30px;
  top: 50px;
}

#right {
  -webkit-transform: rotate(-180deg);
  left: 203px;
  top: 265px;
}

#number-left {
  position: relative;
  font-size: 30px;
  top: -10px;
  left: -55px;
}

#number-right {
  position: absolute;
  font-size: 30px;
  top: 295px;
  left: 200px;
  -webkit-transform: rotate(-180deg);
}
